@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: "Roboto", sans-serif;
}

.body {
  max-width: 100%;
  overflow-x: hidden;
  /* background: url("../../images/bg.jpeg") center center/cover no-repeat; */
}

.main {
  display: flex;
  width: 100%;
  padding: 15px;
  align-items: center;
  align-content: center;
  margin: 10px;
  margin-left: 30px;
  margin-right: auto;
  align-self: center;
}

.main img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

.item {
  background-color: white;
  border-radius: 30px;
  display: inline-block;
  width: 30%;
  height: 420px;
  padding: 20px;
  margin: 10px;
  /* opacity: 80%; */
}

.item img {
  width: 200px;
}

.main h2 {
  color: #1d5171;
}

.main p {
  color: #236e95;
  text-align: justify;
}

/* BUTTON */

/* GENERAL BUTTON STYLING */
Link,
Link::after {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

Link {
  background: none;
  border: 1px solid #1d5171;
  border-radius: 20px;
  color: #1d5171;
  display: block;
  font-size: 10px;
  font-weight: bolder;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;

  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
}

Link::before,
Link::after {
  background: #236e95;
  content: "";
  position: absolute;
  z-index: -1;
}

Link:hover {
  color: white;
  background: #236e95;
}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}

#map {
  border: 3px solid white;
  position: relative;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  /* border-radius: 30px; */
  margin-top: 20px;
}
